
// @import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=4f36ce47-2d1c-422b-b5bf-5223f6c71177");
// @font-face{
// font-family:"Futura PT W01 Light";
// src:url("../fonts/9869762c-2f06-40c3-929e-2d412d64cd87.eot?#iefix");
// src:url("../fonts/9869762c-2f06-40c3-929e-2d412d64cd87.eot?#iefix") format("eot"),url("../fonts/9ad55860-bbe2-4e51-be58-08b45bdda354.woff2") format("woff2"),url("../fonts/eceb6e13-403b-4d2b-af74-c05bc9c2535e.woff") format("woff"),url("../fonts/956fd236-834e-4736-91af-a04cadf17544.ttf") format("truetype"),url("../fonts/88e3bfcb-64f4-4e6f-9785-472510bd5208.svg#88e3bfcb-64f4-4e6f-9785-472510bd5208") format("svg");
// }
@font-face{
font-family:"Futura PT W01 Bold";
src:url("../fonts/88a061c2-3303-401d-85e9-619b5ea5f5af.eot?#iefix");
src:url("../fonts/88a061c2-3303-401d-85e9-619b5ea5f5af.eot?#iefix") format("eot"),url("../fonts/1a34942e-33ed-43bb-b229-7460d55b49f7.woff2") format("woff2"),url("../fonts/baecea54-cfd3-4578-8717-abf89eba62b6.woff") format("woff"),url("../fonts/f275eebe-30f5-4068-9294-51dc44c8409e.ttf") format("truetype"),url("../fonts/d69595d3-2967-4e10-a909-435e883354e7.svg#d69595d3-2967-4e10-a909-435e883354e7") format("svg");
}

@font-face{
font-family:"Futura PT W01 Book";
src:url("../fonts/17abcb18-cb81-4d9c-b55c-5ded2109e506.eot?#iefix");
src:url("../fonts/17abcb18-cb81-4d9c-b55c-5ded2109e506.eot?#iefix") format("eot"),url("../fonts/aafdd021-88d4-41d8-8e15-fe91f83e4b17.woff2") format("woff2"),url("../fonts/81d44d4b-ac07-4ad4-8cdd-4df771a3c1c3.woff") format("woff"),url("../fonts/f47c9a36-7884-483a-80d7-57f9ee691407.ttf") format("truetype"),url("../fonts/b6a5374f-5656-4627-b423-1ba121767464.svg#b6a5374f-5656-4627-b423-1ba121767464") format("svg");
}


