.template--contact {
}
.contact__form-wrap {
    @media (min-width: $screen-xs) {
        ol {
            margin: 0;
            padding: 0;
        }
        ol  li  ol   {
            padding: 0;
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
            align-items: center;
            width: 100%;

            li {
                margin-bottom: 0;
            }

            li:first-of-type {
                margin-right: 20px;
                flex: 0 0 180px;
            }

            li:last-of-type {
                flex: 1 1 auto;
            }

        }
        .btn {
            width: 100%;
        }
    }
}

#checkoutPasswordYes + label {
    margin-right: 20px;
}

.contact-form__btn-wrap {
}

.btn-aero {
    width: 100%;
    position: relative;
    &:after {
        right: 20px;
        top: 0;
        @include calc(top, "50% - 9px");
        position: absolute;
        display: block;
        width: 20px;
        height: 18px;
        content: "";
        background-image: url(../images/svg/send-icon.svg);
        background-repeat: no-repeat;
    }
}
.contact__map-wrap {
    margin-bottom: 30px;
    img {
        width: 100%;
    }
    height: auto;
    width: 100%;
    position: relative;
    padding-top:100%;
}


.contact__info-wrap {
    ul {
        padding: 0;
        li {
            list-style: none;
            font-size: 14px;
            line-height: 24px;
        }
    }
    a {
        font-size: 16px;
        line-height: 24px;
        text-decoration: underline;
    }
}
.contact__fax {
    font-size: 16px;
    line-height: 24px;
}
.contact__directions {
    a {
        display: block;
    }
}
.contact__international-1 {
    @media screen and (max-width: $fab-max ) {
        margin-bottom: 25px;
    }
}


.contact__footer-cta-wrap {
    .row .col-xs-24 {
        @media screen and (max-width: $fab-max ) {
        margin-bottom: 30px;
    }
}
}


.contact__address-title {
    margin-top: 0;
    margin-bottom: 5px;
}


.contact__telephone {
    a {
        text-decoration: none;
    }
}


.contact__address-wrap {
          @media screen and (max-width: $fab-max ) {
    margin-bottom: 30px;

          }

}
.contact__address, .contact__address-info {
    // margin-bottom: 10px;
    margin-bottom: 20px;
    @media all and (min-width: $tab-min) {
    }
}
.contact__international-wrap {
    margin-bottom: 20px;
    @media all and (min-width: $tab-min) {
        margin-bottom: 60px;
    }
}

#google-map {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#google-map-head-office {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
